services:
  db:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  django:
    build:
      context: .
      dockerfile: Dockerfile.django
    command: uv run manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - /app/.venv
      - /app/node_modules
    ports:
      - "8000:8000"
    environment:
      PYTHONUNBUFFERED: "1"
      DB_NAME: postgres
      DB_USER: postgres
      DB_PASSWORD: password
      DB_HOST: db
      DB_PORT: 5432
    depends_on:
      db:
        condition: service_healthy

  tailwind:
    build:
      context: .
      dockerfile: Dockerfile.tailwind
    user: root
    command: npm run tailwind
    volumes:
      - .:/app
    tty: true

volumes:
  postgres_data:
