services:
  db:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  django:
    build:
      context: .
      dockerfile: Dockerfile.django
    command: uv run manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - ./media:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    user: root
    depends_on:
      db:
        condition: service_healthy

  tailwind:
    build:
      context: .
      dockerfile: Dockerfile.tailwind
    user: root
    command: npm run tailwind
    volumes:
      - .:/app
    tty: true

volumes:
  postgres_data:
