{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
              rel="stylesheet">
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0 viewport-fit=cover">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <title>
            {% block  title %}{% endblock %}
        </title>
    </head>
    <body>
        {% if not no_header %}
            {% if not header_alt %}
                {% include "header.html" %}
            {% else %}
                {% include "header_alt.html" %}
            {% endif %}
        {% endif %}
        {% block content %}{% endblock %}
        {% if not no_dock %}
            {% include "dock.html" %}
        {% endif %}
    </body>
</html>
