<section class="flex flex-row justify-between items-center p-2 max-w-5xl mx-auto">
    <div class="flex gap-1 items-center">
        <img src="{{ community.avatar_url }}"
             alt="Avatar of {{ community.name }} community."
             width="72"
             height="72"
             class="rounded-full">
        <div class="flex flex-col text-xl">
            <p class="font-semibold">c/{{ community.name }}</p>
            <p class="text-lg font-normal">Members: {{ community.subscriber_count }}</p>
        </div>
    </div>
    <div class="flex flex-col gap-3 items-end py-2">
        <button type="button">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 32 32">
                <circle cx="16" cy="8" r="2" fill="currentColor" /><circle cx="16" cy="16" r="2" fill="currentColor" /><circle cx="16" cy="24" r="2" fill="currentColor" />
            </svg>
        </button>
        {% if is_subscribed %}
            <form action="{% url 'community-leave' community.name %}" method="post">
                {% csrf_token %}
                <button class="btn btn-error btn-outline rounded-full" type="submit">Leave</button>
            </form>
        {% else %}
            <form action="{% url 'community-join' community.name %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary rounded-full" type="submit">Join</button>
            </form>
        {% endif %}
    </div>
</section>
