{% load components %}
<div class="p-2 max-w-5xl mx-auto">
    <section class="flex flex-row justify-between items-center p-2">
        <div class="flex gap-1 items-center py-2">
            <img src="{{ profile_user.profile.avatar_url }}"
                 alt="{{ profile_user.username }}'s avatar"
                 width="72"
                 height="72"
                 class="rounded-full">
            <div class="flex flex-col text-xl">
                <p class="font-semibold">u/{{ profile_user.username }}</p>
            </div>
        </div>
        <div class="flex flex-col gap-3 items-end py-2">
            <button type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none">
                    <path fill="#000" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11 4.469a1.031 1.031 0 1 0 0-2.063 1.031 1.031 0 0 0 0 2.063ZM11 12.031a1.031 1.031 0 1 0 0-2.062 1.031 1.031 0 0 0 0 2.062ZM11 19.594a1.031 1.031 0 1 0 0-2.063 1.031 1.031 0 0 0 0 2.063Z" />
                </svg>
            </button>
            {% if user == profile_user %}
                {% button label="Edit" variant="outline" button_type="button" %}
            {% else %}
                {% button label="Follow" button_type="button" %}
            {% endif %}
        </div>
    </section>
</div>
