{% load posts_extras %}
<article class="flex flex-col gap-1 items-stretch w-full min-w-xs max-w-5xl p-2 rounded-2xl border border-base-300">
    <header class="flex justify-between py-1">
        <div class="flex gap-1 items-center">
            <div class="flex gap-1 text-base font-medium">
                {% if is_community %}
                    <a href="{% url 'user-detail' post.user.username %}"
                       class="flex gap-1 avatar hover:underline">
                        <div class="w-5.5 rounded-full">
                            <img src="{{ post.user.profile.avatar_url }}"
                                 alt=""
                                 width="22"
                                 height="22" />
                        </div>
                        <span>u/{{ post.user.username }}</span>
                    </a>
                {% else %}
                    <a href="{% url 'community-detail' post.community.name %}"
                       class="flex gap-1 hover:underline">
                        <div class="avatar">
                            <div class="w-6 h-6 rounded-full">
                                <img src="{{ post.community.avatar_url }}" alt="" width="24" height="24" />
                            </div>
                        </div>
                        <span>c/{{ post.community.name }}</span>
                    </a>
                {% endif %}
                <span class="text-gray-500">•</span>
                <span class="text-gray-500">{{ post.created_at|datesince }}</span>
            </div>
        </div>
        <div class="flex gap-1 items-center">
            {% if not is_community %}
                {% include "join_button.html" %}
            {% endif %}
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 32 32">
                <circle cx="16" cy="8" r="2" fill="currentColor" /><circle cx="16" cy="16" r="2" fill="currentColor" /><circle cx="16" cy="24" r="2" fill="currentColor" />
            </svg>
        </div>
    </header>
    <div>
        <a href="{% url 'post-detail' post.pk %}">
            <h2 class="text-xl font-medium wrap-break-word line-clamp-1">{{ post.title|truncatechars:200 }}</h2>
            <p class="text-lg text-base-content/80 wrap-break-word line-clamp-3">{{ post.body|truncatechars:400 }}</p>
        </a>
    </div>
    <footer class="flex gap-1 items-center pt-1">
        {% include "partials/vote_component.html" %}
    </footer>
</article>
